---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import WhatIsDrimian from '../components/WhatIsDrimian.astro';
import SkinInTheGame from '../components/SkinInTheGame.astro';
import RotatingPrinciple from '../components/RotatingPrinciple.astro';
import CtaFinal from '../components/CtaFinal.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
---
<Base title="Drimian - Dream with Intelligence">
  <Nav />
  <Hero />
  <div id="nav-sentinel" class="h-0 w-0" aria-hidden="true"></div>
  <WhatIsDrimian />
  <SkinInTheGame />
  <RotatingPrinciple />
  <CtaFinal />
  <Footer />
  <WhatsAppFloat />
</Base>
